[submodule "ceres-solver"]
    path = 3rd_party/ceres-solver
    url = https://ceres-solver.googlesource.com/ceres-solver

[submodule "eigen"]
    path = 3rd_party/eigen
    url = https://gitlab.com/libeigen/eigen.git

[submodule "libigl"]
    path = 3rd_party/libigl
    url = https://github.com/libigl/libigl.git

[submodule "pybind11"]
    path = 3rd_party/pybind11
    url = https://github.com/pybind/pybind11.git

[submodule "cgal"]
    path = 3rd_party/cgal
    url = https://github.com/CGAL/cgal.git
